{% extends 'layout.html' %}
{% block main%}
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li class="active">内容列表</li>
  </ol>
  <table class="table table-hover table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>分类</th>     
        <th>作者</th>   
        <th>添加时间</th>
        <th>阅读量</th>
        <th>操作</th>
    </tr>
    {% for item in contents%}
    <tr>
        <td>{{JSON.stringify(item._id)}}</td>
        <td>{{item.title}}</td>
        <td>{{item.category.name.toString()}}</td>
        <td>{{item.user.username}}</td>
        <td>{{item.addTime|date('Y年m月d日 h:i:s', -8*60)}}</td>
        <td>{{item.views}}</td>        
        <td>
          <a class="btn btn-default" style="margin:0 20px;" href="/admin/content/edit?id={{item._id.toString()}}">修改</a>
          <a class="btn btn-default" href="/admin/content/delete?id={{item._id.toString()}}">删除</a>
          
        </td>
    </tr>
    {%endfor%}
</table>
  {% include 'page.html' %}
{%endblock%}