{%extends 'layout.html'%} {%block about%}
<div class="aboutContent">
    <h1>关于我</h1>
    <ul>
        <li>姓名： 雷大敏</li>
        <li>性别： 男</li>
        <li>个性： 沉默是金(●’◡’●)</li>
        <li>技能： 熟悉 Html/CSS/JavaScript、Vue、Node</li>
        <li>社区： 喜欢逛逛
            <a href="https://www.zhihu.com" title="知乎" target="_blank" rel="external">知乎</a>、
            <a href="http://weibo.com/" title="微博" target="_blank" rel="external">微博</a>、
            <a href="https://segmentfault.com/" title="SegmentFault" target="_blank" rel="external">SegmentFault</a>、
            <a href="https://github.com" title="github" target="_blank"
                rel="external">Github</a>，
            <a href="https://www.v2ex.com/" title="V2EX" target="_blank" rel="external">V2EX</a>
        </li>
        <li>休闲： 喜欢听歌、看电影、游泳、看书、旅游</li>
        <li>游戏： 【DOTA1】【梦幻西游】【终结者2】</li>
        <li>现状： 目前是
            <a href="http://www.taiyiplus.com/" title="泰一指尚科技有限公司" target="_blank" rel="external">泰一指尚科技有限公司</a> 前端开发工程师</li>
    </ul>
</div>
{%endblock%}