<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="">
  <title>天龙巴布的小屋</title>
  <link rel="icon" href="bitbug2.ico">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
</head>

<body>
  <div class="container-fluid" style="padding:0;margin:0;height:100%;">
    <div class="left-col">
      <div class="overlay"></div>
      <div class="intrude-less">
        <header id="header" class="inner">
          <div class="profilepic">
          </div>
          <hgroup>
            <h1 class="header-author">
             Dalei
            </h1>
          </hgroup>
          <p class="header-subtitle">总有一个人会欣赏你的坚持</p>
          <div class="author-work">Web Developer &amp; Designer</div>
          <div class="author-location"><i class="glyphicon glyphicon-screenshot"></i> <span class="vm">HangZhou, China</span></div>
          <div id="switch-area" class="switch-area">
                <nav class="header-menu">
                  <ul>
                    {% if category%}
                    <li>
                      <a href="/">主页</a>
                    </li>
                    {%else%}
                    <li>
                      <a href="/" class="focus">主页</a>
                    </li>
                    {%endif%} {% for cate in categories%} {% if category == cate._id.toString()%}
                    <li>
                      <a href="/?category={{cate._id.toString()}}" class="category focus">{{cate.name}}</a>
                    </li>
                    {%else%}
                    <li>
                      <a href="/?category={{cate._id.toString()}}" class="category">{{cate.name}}</a>
                    </li>
                    {%endif%} {%endfor%}
                    </ul>
                </nav>
                <nav class="header-nav">
                  <ul class="social">
                    <a class="fa weibo" href="https://weibo.com/u/5684093068" title="新浪微博" target="blank"></a>
                    <a class="fa github" href="https://github.com/pugbabu" title="GitHub" target="blank"></a>
                    <!-- <a class="fa zhihu" href="/zhihu" title="知乎"></a> -->
                    <a class="fa jianshu" href="https://www.jianshu.com/u/ace7791ce366" title="简书" target="blank"></a>
                    <!-- <a class="fa QQ" href="#" title="QQ"></a> -->
                    <!-- <a class="fa 微信" href="/Wechat" title="微信"></a> -->

                  </ul>
                </nav>
          </div>
        </header>
      </div>
    </div>
    <div class="content">
      {%block content%}{%endblock%}
      {%block page%}{%endblock%}
      <div class="loginIcon"></div>
      <div class="signBox">
        <div class="signContent">     
          {% if userInfo.id %}
          <div class="userInfo">
            {% if userInfo.isAdmin %}
            <p style="line-height:30px;">
              <span style="color:#ea6f5a;margin-right:10px;">{{userInfo.username}}</span>管理员你好,&nbsp;
              <a href="/admin" style="cursor:pointer;">去后台管理博客</a>
              <a id="logOut">退出</a>
            </p>
            {% else %}
            <p style="line-height:30px;">
              <span style="color:#ea6f5a;margn-right:10px;">{{userInfo.username}}</span>,欢迎登录我的博客
              <a id="logOut">退出</a>
            </p>
            {%endif%}
            
          </div>
          {% else %}
          <h4 class="title">
            <div class="normal-title">
              <a class="active loginToogle" href="javascript:0;">登录</a>
              <b>·</b>
              <a id="js-sign-up-btn" class="registerToogle" href="javascript:0;">注册</a>
            </div>
          </h4>
          <div class="loginBox">
            <form class="form-horizontal">
              <div class="inputContent">
                <i class="glyphicon glyphicon-user"></i>
                <input type="text" placeholder="用户名" id="username1" autocomplete="off" />                
              </div>
              <div class="inputContent">
                <i class="glyphicon glyphicon-modal-window"></i>
                <input type="password" placeholder="密码" id="inputPassword3" autocomplete="off" />                
              </div>
              <div class="errorMsg">dfsd</div>
              <a class="btn btn-default" id="loginBtn">登录</a>
            </form>
          </div>
          <div class="registerBox">
              <form class="form-horizontal">
                <div class="inputContent">
                  <i class="glyphicon glyphicon-user"></i>
                  <input type="text" placeholder="用户名" id="username2" autocomplete="off"/>                
                </div>
                <div class="inputContent">
                  <i class="glyphicon glyphicon-modal-window"></i>
                  <input type="password" placeholder="密码" id="inputPassword4" autocomplete="off"/>                
                </div>
                <div class="inputContent">
                    <i class="glyphicon glyphicon-modal-window"></i>
                    <input type="password" placeholder="确认密码" id="repassword1" autocomplete="off"/>                
                  </div>
                <a class="btn btn-default" id="registerBtn">注册</a>
              </form>
            </div>    
          {%endif%}
      </div>
    </div>
    </div>
  </div>
</body>

</html>