<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="">
  <title>天龙巴布的小屋</title>
  <link rel="icon" href="bitbug2.ico">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
</head>

<body>
  <div class="container-fluid" style="padding:0;margin:0;height:100%;">
    <div class="left-col">
      <div class="overlay"></div>
      <div class="intrude-less">
        <header id="header" class="inner">
          <a href="/" class="profilepic">
            <img src="../../public/images/avatar.jpeg" class="animated zoomIn">
          </a>
          <hgroup>
            <h1 class="header-author">
              <a href="/">Dalei</a>
            </h1>
          </hgroup>
          <p class="header-subtitle">总有一个人会欣赏你的坚持</p>
          <div id="switch-area" class="switch-area">
                <nav class="header-menu">
                  <ul>
                    {% if category%}
                    <li>
                      <a href="/">主页</a>
                    </li>
                    {%else%}
                    <li>
                      <a href="/" class="focus">主页</a>
                    </li>
                    {%endif%} {% for cate in categories%} {% if category == cate._id.toString()%}
                    <li>
                      <a href="/?category={{cate._id.toString()}}" class="category focus">{{cate.name}}</a>
                    </li>
                    {%else%}
                    <li>
                      <a href="/?category={{cate._id.toString()}}" class="category">{{cate.name}}</a>
                    </li>
                    {%endif%} {%endfor%}
                  </ul>
                </nav>
                <nav class="header-nav">
                  <ul class="social">
                    <a class="fa 新浪微博" href="/sina weibo" title="新浪微博"></a>
                    <a class="fa GitHub" href="#" title="GitHub"></a>
                    <a class="fa 知乎" href="/zhihu" title="知乎"></a>
                    <a class="fa 简书" href="/jianshu" title="简书"></a>
                    <a class="fa QQ" href="#" title="QQ"></a>
                    <a class="fa 微信" href="/Wechat" title="微信"></a>

                  </ul>
                </nav>
          </div>
        </header>
      </div>
    </div>
    <div class="content">
          {%block content%}{%endblock%}
        <!-- <aside>
        {% if userInfo.id %}
        <div class="userInfo">
          {% if userInfo.isAdmin %}
          <p>{{userInfo.username}}管理员你好,&nbsp;
            <a href="/admin" style="cursor:pointer;">去后台管理博客</a>
          </p>
          {% else %}
          <p>
            <span>{{userInfo.username}},</span>欢迎登录我的博客</p>
          {%endif%}
          <a id="logOut">退出</a>
        </div>
        {% else %}
        <div class="loginBox">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="username1" class="col-sm-2 control-label">用户名</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="username1" placeholder="请输入用户名">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-6">
                <a class="btn btn-default" id="loginBtn">登录</a>
                <span>还未注册，快去</span>
                <a class="btn btn-success" id="toRegitster">注册！</a>
              </div>
            </div>
          </form>
        </div>
        <div class="registerBox" style="display:none;">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="username2" class="col-sm-4 control-label">用户名</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="username2" placeholder="请输入用户名">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword4" class="col-sm-4 control-label">密码</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword4" placeholder="请输入密码">
              </div>
            </div>
            <div class="form-group">
              <label for="repassword1" class="col-sm-4 control-label">确认密码</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="repassword1" placeholder="请再次输入密码">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-6">
                <a class="btn btn-success" id="registerBtn">注册</a>
              </div>
            </div>
          </form>
        </div>
        {%endif%}
      </aside> -->
      {%block page%}{%endblock%}
    </div>
  </div>
</body>

</html>