<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node搭建个人博客</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />
  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
</head>

<body>
  <header class="main-header"></header>
  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        {% if category%}
        <li>
          <a href="/" class="category">首页</a>
        </li>
        {%else%}
        <li>
          <a href="/" class="category focus">首页</a>
        </li>
        {%endif%} {% for cate in categories%} {% if category == cate._id.toString()%}
        <li>
          <a href="/?category={{cate._id.toString()}}" class="category focus">{{cate.name}}</a>
        </li>
        {%else%}
        <li>
          <a href="/?category={{cate._id.toString()}}" class="category">{{cate.name}}</a>
        </li>
        {%endif%} {%endfor%}
      </ul>
    </div>
  </nav>
  <div class="content">
    <div class="container clearfix">
      <section class="main-content">
        {%block content%}{%endblock%}
      </section>
      <aside>
        {% if userInfo.id %}
        <div class="userInfo">
          {% if userInfo.isAdmin %}
          <p>{{userInfo.username}}管理员你好,&nbsp;
            <a href="/admin" style="cursor:pointer;">去后台管理博客</a>
          </p>
          {% else %}
          <p>
            <span>{{userInfo.username}},</span>欢迎登录我的博客</p>
          {%endif%}
          <a id="logOut">退出</a>
        </div>
        {% else %}
        <div class="loginBox">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="username1" class="col-sm-2 control-label">用户名</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="username1" placeholder="请输入用户名">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
              <div class="col-sm-6">
                <input type="password" class="form-control" id="inputPassword3" placeholder="请输入密码">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-6">
                <a class="btn btn-default" id="loginBtn">登录</a>
                <span>还未注册，快去</span><a class="btn btn-success" id="registerBtn">注册！</a>
              </div>
            </div>
          </form>
        </div>
        <div class="registerBox" style="display:none;">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="username2" class="col-sm-4 control-label">用户名</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="username2" placeholder="请输入用户名">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword4" class="col-sm-4 control-label">密码</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="inputPassword4" placeholder="请输入密码">
              </div>
            </div>
            <div class="form-group">
              <label for="repassword1" class="col-sm-4 control-label">确认密码</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="repassword1" placeholder="请再次输入密码">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-4 col-sm-6">
                <a class="btn btn-success" id="registerBtn">注册</a>
              </div>
            </div>
          </form>
        </div>
        {%endif%}
      </aside>
    </div>
    {%block page%}{%endblock%}
  </div>
  <footer></footer>
</body>

</html>